

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
}

.footer-distributed{
	background: #1183c0;
	box-shadow: 0 1px 1px 0 rgba(75, 61, 204, 0);
	box-sizing: border-box;
	width: 90%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
    border-radius: 1rem;
}


/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #0fccd6;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #0fccd6;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #ffffff;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #000000;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  black;
}

.footer-distributed ::-moz-placeholder {
	color:  black;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  black;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #ffffff;
	color: #000000;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {
	.footer-distributed{
		padding: 30px;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}
	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}
	.footer-distributed form{
		margin-top: 30px;
	}
	.footer-distributed form{
		display: block;
	}
	.footer-distributed form button{
		float: none;
	}
}

.footer {
    /* border: 1px solid red; */
    width: 90%;
    margin: 1rem;
    font-size: 1.5rem;
}

.outside {
    background-color: #E0DFD5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.content {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.footer-body {
    border-bottom: 2px solid #E4B363;
    display: grid;
    grid-template-columns: 40% auto auto;
}

.footer-body li, .footer-body ul {
    padding-left: 0;
    list-style: none;
}

.about, .categories, .quick-link, .bottom {
    padding: 1rem;
}

.footer-body a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1200px) {
    .footer {
        font-size: 1.2rem;
    }

    .footer-body {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 800px) {
    .footer {
        font-size: 1rem;
    }

    .footer-body {
        grid-template-columns: auto;
    }
}
